:root {
    background-color: var(--bg);
}

h2 {
    text-overflow: ellipsis;
    font-size: 1.3em;
}

.text_content {
    font-weight: 300;
}

.user_info_content {
    width: 90vw;
    height: 100vh;

    margin: 0vw 5vw;
}

.user_info_logo {
    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;


}

.user_info_info {
    width: 90%;
    min-height: 100%;
    margin: 0% 5%;

    display: flex;
    flex-direction: column;
    gap: 5vh;

}

.user_info_login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    gap: 2vh;
}

.user_info_title {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
}

.user_info_title > hr {
    color: #202087;
}

.user_info_login_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding: 2% 0%;

    background-color: var(--grey1);
}

.user_info_login_content > div {
    width: 33%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vh;
}

.user_info_statut > img {
    width: 20%;
    height: auto;
}

.user_info_pass > a {

    width: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.user_info_pass > a > img{
    display: flex;
    width: 50%;
    height: auto;
}



/* Parti NAME */

.user_info_name {

    display: flex;
    flex-direction: column;
    gap: 2vh;

   
}

.user_info_name_content {
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    padding: 3% 10%;

    row-gap: 2vh;

    background-color: var(--grey1);
}

.user_info_name_content > div {
    display: flex;
    flex-direction: row;
    align-items: center;

    text-overflow: ellipsis;
}

.user_info_name_content > div > a {
    max-width: 10%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.user_info_name_content > div > a > img {
    display: flex;
    max-width: 50%;
    height: auto;
}


/* Partie ADDRESS */


.user_info_address {
    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 2vh;

    padding-bottom: 5vh;
}

.cards_address {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    column-gap: 1vw;
    row-gap: 1vw;
}

.card_all {

    width: 100%;
    height: 75vh;

    display: flex;
    flex-direction: column;

    background-color: var(--grey1);
    border-radius: 0px 0px 12px 12px;
}

.card_address {

    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 50vh;

    padding: 0% 10%;
}

.user_info_address_title {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 10vh;

    color: white;
    background-color: #202087;
}

.card_address > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.user_info_address_modify {
    display: flex;
    flex-direction: row;
    gap: 1vh;
}

.user_info_address_modify > a {
    width: 10%;
    height: auto;
}

.user_info_address_modify > a > img {
    width: 60%;
    height: auto;

}

.map_all {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--grey2);
    border-radius: 0px 0px 12px 12px;
}

.card-map {
    width: 95%;
    height: 95%;
}

.map {
    /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
    width: 100%;
    height: 100%;
    border-radius: 12px;
    z-index: 1;
}

.map_error {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0% 5%;

    width: 100%;
    height: 100%;

    background-color: var(--grey2);
}

.card_add_address {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--grey2);
}

.card_add_address > a {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.user_info_delete {

    width: 100%;
    height: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.user_info_delete > a {
    padding: 2vh 5vh;
    background-color: red;
    color: white;

    text-decoration: none;

    border-radius: 12px;
}