* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: var(--main-font);
}

.deletes_error {
    width: 100vw;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2vw;
}

.redirect {
    width: 100%;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
}