* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: var(--main-font);  
}

.sendmail_password_content {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
}

.sendmail_password_title > h1 {
    font-size: 2.5vw;
}

.sendmail_password > h3 {
    font-weight: 300;
    color: var(--grey1);
}

