* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: var(--main-font);
}

.delete_caspor_content {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

}

.delete_caspor_title {
    width: 90%;
    height: 10%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    gap: 2vh;
}

.delete_caspor_title > a > img {
    width: 60%;
    height: auto;

    padding-top: 0.5vh;

    transform: rotate(180deg);
}

.delete_caspor_title > img {
    width: 10%;
    height: auto;
}

.delete_caspor_grid {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.delete_caspor_card {
    margin: 10%;
}

.delete_caspor_card:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--grey2);
    border-radius: 24px;
}

.delete_caspor_card_text {
    display: flex;
    flex-direction: column;
    gap: 4vh;

    padding: 5% 0%;
}

.delete_caspor_card_text > h1 {
    font-size: 2.5vw;
}

.delete_caspor_card_desc {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.delete_caspor_card_desc > h3 {
    font-size: 1.5vw;
}

.delete_caspor_card_desc > p {
    font-size: 1vw;
}

.delete_caspor_button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    gap: 3vw;
}

.delete_caspor_button > a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    padding: 2% 5%;

    text-decoration: none;
}

.delete_caspor_button > a:nth-child(1) {
    background-color: #399B39;
    border: 3px solid #399B39;
    color: white;
    border-radius: 12px;

    transition: background-color 250ms ease, color 250ms ease;
}

.delete_caspor_button > a:nth-child(1):hover {
    background-color: white;
    color: #399B39;
}

.delete_caspor_button > a:nth-child(2) {
    background-color: var(--grey2);
    border: 3px solid var(--grey2);
    color: white;
    border-radius: 12px;

    transition: background-color 250ms ease, color 250ms ease;
}

.delete_caspor_button > a:nth-child(2):hover {
    background-color: white;
    color: var(--grey2);
}