body {

    --bg : #F2F2F2;

    --color0 : #D3E2D3;
    --color1 : #b4f1b4;
    --color2 : #77DD77;
    --color3 : #399B39;

    --grey1 : #D9D9D9;
    --grey2 : #BCBCBC;

    --main-font: Poppins, arial, sans-serif;
    --logo-font: TitiliumWeb, arial, sans-serif;

}