RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

SetEnv PROTOCOL http

SetEnv DbHost 167.71.67.196
SetEnv DbUser site
SetEnv DbPass Casporama123$

SetEnv CryptoKey 62284e613d889f5f99090b9f12253e40

SetEnv Deploymentmode Development

SetEnv EmailHost ssl://smtp.googlemail.com
SetEnv EmailPort 465
SetEnv EmailUser livecasporama@gmail.com
SetEnv EmailPass iaqesisgyoepvrrq
