* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: var(--main-font);  
}

.modif_password_content {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 3vh;
}

.modif_password_title {
    font-size: 2.5vw;
}

.keyword_title:nth-child(1) {
    color: #399B39;
}
.keyword_title:nth-child(2) {
    color: #3284E4;
}
.keyword_title:nth-child(3) {
    color: #E0C323;
}
.keyword_title:nth-child(4) {
    color: #E94138;
}

.modif_password {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 2vh;
}

.modif_password > form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    gap: 2vh;
}

.input_modif_password {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    gap: 2vh;
}

.modif_password > form > input {
    padding: 2% 2%;

    border-radius: 0%;
    border: 1px solid black;

    background-color: white;
}

.submit_modif_password {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modif_password > form > input:nth-child(4) {
    padding: 2% 10%;

    border-radius: 0%;
   color: #399B39;
    border: 2px solid #399B39;
    cursor: pointer;

    background-color: white;

    transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.modif_password > form > input:nth-child(4):hover {
    background-color: #399B39;
    color: white;
}

.modif_password_error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    background-color: red;
    color: white;

    padding: 1% 1%;
    border-radius: 12px;
    gap: 2vh;

    width: 40vw;
}

.modif_password_error > h3 {
    font-size: 0.8vw;
}

.modif_password_error > img {
    width: 10%;
    height: auto;
}
