body {
    --bg : #F2F2F2;

    --color0 : #FBFBC3;
    --color1 : #FBFBC3;
    --color2 : #FDFD96;
    --color3 : #E0C323;

    --grey1 : #D9D9D9;
    --grey2 : #BCBCBC;

    --main-font: Poppins, arial, sans-serif;
    --logo-font: TitiliumWeb, arial, sans-serif;

}