* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: var(--main-font);
  }

.user_home_content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--bg);
}

.user_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    padding-left: 5vw;

    width: 100%;
    height: 10%;
}

.user_account {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 90%;

    gap: 3vh;
}

.user_title {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2vh;

  padding: 0vw 3vw;
}

.user_title > h1 {
  padding-left: 1vw;
  font-weight: 300;
}

.user_title > h1 > span {
  font-weight: 600;
}

.user_info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  align-self: center;

  padding-left: 5vw;
  row-gap: 5vh;

  width: 80%;

}

.user_btn {
  background-color: var(--grey1);
  text-decoration: none;
  color: black;
  border-radius: 12px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0vh 2vh;

  width: 15vw;
  height: 20vh;

  transition: background-color 200ms ease-in-out;


}

.green_hover:hover {
  background-color: var(--green2);
}

.blue_hover:hover {
  background-color: var(--blue2);
}

.yellow_hover:hover {
  background-color: var(--yellow2);
}

.red_hover:hover {
  background-color: var(--red2);
}

.user_btn > img {
  width: 1vw;
  height: auto;
}


