* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: var(--main-font);
}

.user_info_title {
    height: 15vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 1.5vw;
}

.user_info_title > hr {
    width: 90%;
}

.cards_address {
    margin: 0 10vh;
}

.choose_addr {
    width: 100%;
    height: 15vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.choose_addr > a {
    background-color: #233E84;
    color: white;
    border: none;

    padding: 2% 4%;
    border-radius: 12px;

    text-decoration: none;
}

