* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: var(--main-font);

}

.verify_account_content {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10vh;
    
}

.verify_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.verify_title > p {
    font-size: 1vw;
}

.verify_title_main {
    display: flex;
    flex-direction: row;
    gap: 1vh;

    font-size: 2vw;
}

.verify_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2vh;
}

.verify_content_title {
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.verify_content_title > p > span {
    font-weight: 600;
}

.verify_content_p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.verify_content_p > p > span {
    font-weight: 600;
}

.green {
    color: #399B39;
}

.blue {
    color: #3284E4;
}

.yellow {
    color: #E0C323;
}

.red {
    color: #E94138;
}

.verify_redirect {
    color: var(--grey2);
}