body {
    --bg : #F2F2F2;

    --green0 : #D3E2D3;
    --green1 : #b4f1b4;
    --green2 : #77DD77;
    --green3 : #399B39;

    --blue0 : #D9E6F4;
    --blue1 : #C3DEFE;
    --blue2 : #77B5FE;
    --blue3 : #3284E4;

    --yellow1 : #FBFBC3;
    --yellow2 : #FDFD96;
    --yellow3 : #E0C323;

    --red1 : #FFB4B0;
    --red2 : #FF857E;
    --red3 : #E94138;

    --grey1 : #D9D9D9;
    --grey2 : #BCBCBC;

    --main-font: Poppins, arial, sans-serif;
    --logo-font: TitiliumWeb, arial, sans-serif;

}