* {
    --green2 : #77DD77;
    --yellow2: #FDFD96;
    --red2: #FF857E;
    --blue2: #77B5FE;

    --bg : #F2F2F2;

    --main-font: Poppins, arial, sans-serif;
    --logo-font: TitiliumWeb, arial, sans-serif;
}