* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer {
    width: 100vw;
    background-color: var(--color0)
}

.footer_content {
    width: 100%;
    height: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5vh;

}

.site_cat {
    display: flex;
    flex-direction: column;
    height: 10vh;
}

.site_cat > h3 {
    padding-bottom: 1vh;
}

.site_info {
    display: flex;
    flex-direction: column;
    height: 10vh;
}

.site_info > h3 {
    padding-bottom: 1vh;
}

.site_contact {
    display: flex;
    flex-direction: column;
    height: 10vh;
}

.site_contact > h3 {
    padding-bottom: 1vh;
}

.link {
    width: 10vw;

    display: flex;
    justify-content: center;
}

.footer_end {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.7vw;
}

.green_hover:hover {
    color: #77DD77;
}

.blue_hover:hover {
    color: #77B5FE; ;
}

.yellow_hover:hover {
    color: #FDFD96; ;
}

.red_hover:hover {
    color: #FF857E; ;
}