* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: var(--main-font);

}

a:link {
    display: inline-block;
    text-decoration: none!important;
    color: black;
}

a:visited {
    color: black;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2327;
    background-color: var(--bg);

    padding: 1% 4%;
}

.logo {
    font-weight: 300;
}

.logo > span {
    color: var(--color3);
    font-weight: 600;
}


.logo {
    position: relative;
  display: inline-block;
}

.logo::after {
    content: "";
    position: absolute;
    left:0;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: var(--color3);
    transition: width .3s ease-in-out;
}

.logo:hover::after {
    width: 200%;
}


.list_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}

.nav_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;

    list-style-type: none;
}

.nav_button > li {
    list-style-type: none;
}



.text > a {
    text-decoration: none;
    transition: color 200ms ease-in-out;
}

.list_line {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.icon {
    display: flex;
    align-items: center;
}

.list_icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
    width: 100%;
    height: 100%;
}

.img1 {
    width: 2vw;
    height: auto;
    fill: red;
}

.img2 {
    width: 2.2vw;
    height: auto;
}

.logo {
    width: 50%;
    height: auto;
}

.button_link:hover {
    color: var(--color3);
}

#toggler, .nav label {
    display: none;
}

@media only screen and (max-width: 768px) {

    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .nav_button {
        flex-direction: row;
        align-items: center;
    }

    .nav label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked ~ .menu {
        max-height: 100%;
        padding: 5% 0%;
    }

    .menu {
        background-color: var(--color0);

        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .nav_button > li:nth-child(4) {
        width: 8vw;
}

.nav_button > li:nth-child(4) > a  {
    
    width: 100%;
    height: auto;
}

.nav_button > li:nth-child(4) > a > img  {
    
    width: 100%;
    height: auto;
}

.nav_button > li:nth-child(5) {
        width: 8vw;
}

.nav_button > li:nth-child(5) > a  {
    
    width: 100%;
    height: auto;
}

.nav_button > li:nth-child(5) > a > img  {
    width: 100%;
    height: auto;
}



}

