.productContent {
    width: 100vw;
    min-height: 90vh;

    background-color: var(--bg);

}

.grid_product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    width: 100%;
    height: 100%;
}

.grid_img {
    display: grid;
    grid-template-columns: 15% 85%;
    width: 100%;
    height: 100%;

    list-style-type: none;

}

.main_img {
    width: 45vw;
    height: 45vw;

    padding: 5% 5% 15% 5%;
}

.main_img > div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border-radius: 25px;

    padding: 15%;

    background-color: var(--color0)
}

.main_img > div > img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}


.second_img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    gap: 2vh;

    padding-top: 30%;

    width: 100%;
    height: 100%;

}

.second_img > div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 15%;
    border-radius: 25px;

    background-color: var(--color0);

    cursor: pointer;
}

.second_img > div > a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 5%;
}

.second_img > div > a > img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.card2 {
    padding: 5%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: 5vh;

    width: 100%;
    height: 100%;
}

.haut {
    display: flex;
    flex-direction: column;
}

.bas {
    display: flex;
    flex-direction: column;

    gap: 2vh;
}

.bas > .color > .allbox {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: 5vh;

    column-gap: 2vh;
    row-gap: 2vh;
}

.color > .allbox > .box {
    width: 8vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color2);
    border: 2px solid var(--color2);
}

.color > .allbox > .box > a {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    white-space: nowrap;

    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.color > .allbox > .box > a:hover {
    color: var(--color2);
    background-color: white;
}

.brand > h2 {
    font-weight: 300;
    font-size: 3em;
}

.title > h1 {
    font-size: 4em;
}

.size {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 100%;
    min-height: 14vh;

    padding-bottom: 2vh;
}

.size > h2 {
    font-weight: 400;
    font-size: 2em;
}

.size > .allbox {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: 5vh;

    row-gap: 2vh;
    column-gap: 2vh;
}

.size > .allbox >.box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    width: 3vw;
    height: 3vw;
    background: none;
}

.size > .allbox > .box > input {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    appearance: none;
    border-radius: 0px;
    cursor: pointer;
    background: none;
}

.size > .allbox > .box > label {
    position: absolute;
    transform: translateY(-10%);
    cursor: pointer;
}

.size > .allbox > .box > input:checked {
    background-color: var(--color2);
}

.size > .allbox > .box > input:disabled {
    background-color: var(--grey1);
    cursor: default;
}

.color {
    width: 85%;
    height: 55%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 1vh;
}

.color > h2 {
    font-weight: 300;
    font-size: 2em;
}


.description {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.description > h2 {
    font-weight: 300;
    font-size: 2em;
}

.price {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding-top: 2vh;
}

.form > input {
    display: flex;
    justify-content: center;

    width: 90%;
    padding: 2%;

    border: none;

    border-radius: 25px;
    background-color: var(--color2);

    font-size: 1vw;
    font-weight: 600;

    cursor: pointer;
}

.form > h3 {
    display: flex;
    justify-content: center;

    width: 90%;
    padding: 2%;

    border: none;

    border-radius: 25px;
    background-color: var(--grey1);

    font-size: 1vw;
    font-weight: 600;
}