.productContent {
    width: 100vw;
    min-height: 90vh;

    background-color: var(--bg);

}

.grid_product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    width: 100%;
    height: 100%;
}

.grid_img {
    display: grid;
    grid-template-columns: 15% 85%;
    width: 100%;
    height: 100%;

    list-style-type: none;

}

.main_img {
    width: 45vw;
    height: 45vw;

    padding: 5% 5% 15% 5%;
}

.main_img > div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border-radius: 25px;

    background-color: var(--color0)
}

.main_img > div > img {
    object-fit: contain;
    width: auto;
    height: auto;
}


.second_img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    gap: 2vh;

    padding-top: 30%;

    width: 100%;
    height: 100%;

}

.second_img > div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 15%;
    border-radius: 25px;

    background-color: var(--color0);

    cursor: pointer;
}

.second_img > div > a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second_img > div > a > img {
    width: 80%;
    height: auto;
    object-fit: cover;
}

.card2 {
    padding: 5%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: 11vh;

    width: 100%;
    height: 100%;
}

.haut {
    display: flex;
    flex-direction: column;
}

.bas {
    display: flex;
    flex-direction: column;

    gap: 4vh;
}

.brand > h2 {
    font-weight: 300;
    font-size: 3em;
}

.title > h1 {
    font-size: 4em;
}

.size {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 100%;
    height: 14vh;
}

.size > h2 {
    font-weight: 400;
    font-size: 2em;
}

.allbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    height: 55%;

    padding-left: 0.5%;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;

    background-color: var(--color2);
}


.description {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.description > h2 {
    font-weight: 300;
    font-size: 2em;
}

.price {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.form > button {
    display: flex;
    justify-content: center;

    width: 90%;
    padding: 2%;

    border-radius: 25px;
    background-color: var(--color2);
}