* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

.home_nav {
    width: 90%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.home_nav_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_nav_right {

    width: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    gap: 2vw;
}

.home_nav_right > a {
    padding: 2% 5%;

    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #399B39;
    border-radius: 32px;
}

.home_nav_right > a > h2 {
    font-size: 0.8vw;
}

.home_nav_right > a:nth-child(1) {

    background-color: white;
    color: #399B39;
}

.home_nav_right > a:nth-child(2) {

    background-color: #399B39 ;
    color: white ;
}

.home_picture {
    width: 100vw;
    height: 68vh;
    display: flex;
    position: relative; 
}

.home_picture > img:nth-child(1) {
    width: 100%;
    height: auto;
    object-fit: cover;
    vertical-align: middle;
}

.home_picture_arrow_right, .home_picture_arrow_left {
    position: absolute;
    z-index: 1;
    background-color: white;
    padding: 1%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

.home_picture_arrow_left { 
    bottom: 45%; left: 2%;

    transform: rotate(180deg);
}


.home_picture_arrow_right { 
    bottom: 45%; right: 2%;
}

.home_cat {
    width: 100%;
    height: 20vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    column-gap: 2vh;

    padding: 2% 3%;
}

.home_cat > div {
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.home_cat > div > a {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    display: grid;
    grid-template-columns: 30% 70%;

}

.home_cat > div:nth-child(1) {
    background-color: var(--green2);
}

.home_cat > div:nth-child(2) {
    background-color: var(--blue2);
}

.home_cat > div:nth-child(3) {
    background-color: var(--yellow2);
}

.home_cat > div:nth-child(4) {
    background-color: var(--red2);
}

.home_cat_img {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home_cat_img > img {
    width: 70%;
    height: auto;
}

.home_cat_title {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.home_cat_title > h2 {
    font-size: 2vw;
    color: white
}



/* .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
    margin: 2vh 2vw;
    width: 100%;
    align-items: center;
    padding-left: 0.5%;
}

.card {
    list-style-type: none;
    width: 47vw;
    height: 47vh;
}

.incard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
    

.link1 {
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.link2 {
    position: absolute;
    transform: translateX(50%),translateY(50%);
    padding: 1% 5%;
}

.home_img {
    width: 35%;
    height: auto;
}

.foot {
    background-color: var(--green2);
}

.volley {
    background-color: var(--yellow2);
}

.bad {
    background-color: var(--blue2);
}

.mma {
    background-color: var(--red2);
}

.bg_title {
    position: absolute;
    transform: translateX(50%), translateY(50%);
    padding: 1% 5%;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(255, 255, 255, 0.32);
}

.home_title {
    position: absolute;
    transform: translateX(50%), translateY(50%);
}

.home_title > h3 {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 1vw;
}

.logo_container {
    position: absolute;
    transform: translateX(425%);
    width: 10%;
    height: auto;
}

.round_logo {
    width: 100%;
    height: auto;
}

.home_login {
    display: none;
}

@media only screen and (max-width: 600px) {
    
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        height: auto;
        margin: 0vh 0vw;
        padding-left: 0%;
        gap: 0.5%;
    }

    .card {
        width: 100vw;
        height: 100%;
    }

    .home_img {
        width: 45%;
        height: auto;
    }

    .bg_title {
        padding: 4% 15%;
    }

    .home_title > h3 {
        font-size: 3vw;
    }

    .link2 {
        display: none;
    }

    .round_logo {
        display: none;
        
    }

    .home_login {
        display: flex;
        background-color: var(--grey2);
    }

    .home_login > a {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .home_login > a > h2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
} */