*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: var(--main-font);
}

header {
    width: 100vw;
    height: 20vh;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 90%;
    height: 10vh;

    display: flex;
    align-items: center;

    gap: 2vh;
}

.logo > a:nth-child(1) > img {
    transform: rotate(180deg);
    padding-top: 1vh;
}

.title {
    font-size: 1.5vw;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 10vh;

}