*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: var(--main-font);
}

header {
    width: 100vw;
    height: 15vh;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 90%;
    height: 7vh;

    display: flex;
    align-items: center;
}

.title {
    font-size: 1.5vw;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 8vh;
}